<div class="game">
    <app-game-item-square *ngFor=" let cell of cells$ | async"
                          appChooseColor [config]="{ color: cell.color }"
                          (mousedown)="onClickCell(cell)"
    ></app-game-item-square>
</div>
