.uui-button {
  padding: 15px 100px;

  border: 2px solid #937ebd;
  border-radius: 8px;
  background-color: #937ebd;
  color: #ffffff;

  font-size: 17px;
  font-weight: bolder;

  cursor: pointer;
}

.uui-button:hover {
  background-color: #806CA6;
  border-color: #806CA6;
}

.uui-button:focus {
  background-color: #715F97;
  border-color: #715F97;
}

.uui-button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
