<div class="score-panel">
  <img class="score-panel__icon"
       src="/assets/img/computer.png"
       alt="computer"
       width="80px"
       height="80px">
  <div class="score-panel__wrapText">
    <p class="score-panel__text" >
      <span>{{computerPoints}}</span> : <span>{{userPoints}}</span>
    </p>
  </div>
  <img class="score-panel__icon"
       src="/assets/img/user.png"
       alt="user"
       width="80px"
       height="80px">
</div>
