.score-panel {
  display: flex;
}

.score-panel__text {
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  width: 110px;
  text-align: center;
}

.score-panel__wrapText {
  align-self: center;
}
