<div class="wrapper-game-panel">
  <app-score class="game-panel__item"
             *ngIf="points$ | async as points"
             [computerPoints]="points.computerPoints"
             [userPoints]="points.userPoints"
  ></app-score>
  <app-timer class="game-panel__item">
  </app-timer>
  <app-button class="game-panel__item"
              [type]="'button'"
              [disabled]="!!(isButtonDisabled | async)"
              (onclickHandler)="onClickStartGame()">
    {{JSON_DATA.buttonStartGame}}
  </app-button>
</div>
