.game-panel__item {
  margin: 20% 0;
}

.game-panel__item:last-child,
.game-panel__item:first-child {
  margin: 0 0;
}

.wrapper-game-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 15px;

  border: 2px solid #F3F3F3;
  border-radius: 10px;
}
