.square {
  width: 55px;
  height: 55px;

  box-shadow: 0 0 57px 12px rgba(69, 34, 80, 0.2) inset;
}

.square:disabled {
  cursor: not-allowed;
}

.square:active {
  box-shadow: 0 0 10px 2px rgba(69, 34, 80, 0.34);
  cursor: pointer;
}

.square:hover {
  box-shadow: 0 0 10px 2px rgba(69, 34, 80, 0.34);
  cursor: pointer;
}
