<div class="timer">
  <label for="time">{{JSON_DATA.timer.label}}</label>
  <div class="time-field-box">
    <input class="time-field"
           type="number"
           [formControl]="timerControl"
           [placeholder]="JSON_DATA.timer.placeholder"
           id="time"
           name="time">
    <app-validation-error-msg [control]="timerControl" *ngIf="timerControl.invalid"></app-validation-error-msg>
  </div>
</div>
