.timer {
  display: flex;
  align-items: center;
  font-size: 17px;
}

.time-field {
  padding: 15px 10px;

  border: 2px solid #937ebd;
  border-radius: 7px;

  font-size: 17px;
  cursor: pointer;
}

.time-field-box {
  margin-left: 10px;
  height: 60px;
}
