<mat-dialog-content class="text">
  {{data.content}}
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="custom-button" mat-button mat-dialog-close>{{data.buttonContent}}</button>
</mat-dialog-actions>
